#app
{
	height: auto;
	margin: 50px auto 0 auto;
	min-height: 500px;
	width: 700px;
}




	HGROUP > H1,
	HGROUP > H2
	{
		font-size: 30px;
		color: #aeaeae;
	}
	
	
	
	
	#drawingArea
	{
		height: auto;
		margin: 0 auto 0 auto;
		position: relative;
		width: 300px;
	}
	
	
		#drawingData
		{
			display: inline;
			height: 30px;
			position: relative;
		}
		
			#drawingCounter
			{
				background-color: #8aaddc;
				color: #eaedf1;
				float: left;
				font-size: 30px;
				font-weight: bold;
				height: 30px;
				text-align: center;
				width: 30px;
			}
			
			#drawingCurrentWord
			{
				background-color: #e5effc;
				color: #5d8dce;
				float: right;
				font-size: 30px;
				font-weight: bold;
				height: 30px;
				text-align: center;
				width: 270px;
			}
			
			
		#drawingColors
		{
			clear: both;
			list-style-type: none;
			height: 30px;
			margin: 10px auto 10px auto;
			padding: 0;
			width: 100%;
		}
			#drawingColors > LI
			{
				background: black;
				border-radius: 30px;
				display: inline-block;
				cursor: pointer;
				height: 30px;
				padding: 0;
				width: 30px;
			}
	
		#drawingCanvas
		{
			background-color: #fff;
			border: 4px dashed #e4ecf3;
			cursor: crosshair;
			height: 400px;
			width: 300px;
		}
		
		
		#drawingControls
		{
			list-style-type: none;
			height: 30px;
			margin: 10px auto 10px auto;
			padding: 0;
			width: 100%;
		}
			#drawingControls > LI
			{
				display: inline-block;
				cursor: pointer;
				padding: 0;
			}
				#pencilBig
				{
					background: black;
					border-radius: 30px;
					height: 30px;
					width: 30px;
				}
				
				#pencilMedium
				{
					background: black;
					border-radius: 20px;
					height: 20px;
					width: 20px;
				}
				
				#pencilSmall
				{
					background: black;
					border-radius: 10px;
					height: 10px;
					width: 10px;
				}
			
				#eraser
				{
					background-color: #db9d9d !important;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					height: 20px;
					width: 20px;
				}
			
				#trash
				{
					
				}
				
				#done
				{
					
				}
				
				
				
		#drawingHistory
		{
			height: auto;
			margin: 0 auto;	
			width: 300px;
		}
			#drawingHistory > IMG
			{
				border: 4px dashed #e4ecf3;
			}